.Home {
  background: none;
  padding: 0 5vw;
}

h1 {
  font-size: 2.5rem;
  margin: 1px 0;
}
h2 {
  font-size: 2rem;
}

.pnf {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 45vh;
  padding-bottom: 55vh;
  width: 100%;
}

.pnf h1 {
  font-size: 12rem;
}

.pnf h2 {
  font-size: 3rem;
}

.Navbar-container {
  background: rgba(3, 12, 54, 0.89);
  padding: 2vh 2vw 1vw 5vw;
  display: flex;
  justify-content: center;
}

.Navbar {
  display: flex;
  flex: 1;
  justify-content: space-between;
  background: rgba(3, 12, 54, 0.89);
  color: rgba(138, 149, 195, 0.89);
  overflow: hidden;
  text-decoration: none;
  float: right;
  width: 100%;
  z-index: 10;
  align-items: center;
  padding: 1vh 2vw 1vw 0;
  /*padding-top: 1vh;
  padding-bottom: 2vh;
  right: 0;*/
}

.Navbar div a {
  background: none;
  padding: 2vh 5vw;
  margin: 2vh 0vw 1vh 1vw;
  text-decoration: none;
  border-radius: 3px;
  border: 3px;
  outline: solid;
  color: rgba(138, 149, 195, 0.89);
}

.Navbar a:hover {
  background: rgba(85, 111, 228, 0.89);
}

.Hero {
  padding: 5vh 0 5vh;
  margin: 0vh 0;
}

.Contact {
  padding: 15vh 3vw;
}

.Contact a {
  font-size: 30px;
  text-decoration: none;
}

.Contact span {
  font-size: 30px;
}

.ProjectSection {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/*
a:visited {
  color: transparent;
}
*/

a {
  color: black;
}

.Contact {
  padding: 20vh 0 5vh;
}

.ProjectSectionSvgIcons {
  margin: 0 5vw 5vh 1vw;
  transform: scale(1.8);
  float: 5px;
}
