.Home {
  background: none;
  padding: 0 5vw;
}

h1 {
  font-size: 2.5rem;
  margin: 1px 0;
}
h2 {
  font-size: 2rem;
}

.pnf {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  width: 100%;
}

.pnf h1 {
  font-size: 12rem;
}

.pnf h2 {
  font-size: 3rem;
}

.Navbar {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  background: none;
  overflow: hidden;
  text-decoration: none;
  float: left;
  width: 100%;
}

.Navbar a {
  background: none;
  padding: 2vh 5vw;
  margin: 2vh 0vw 1vh 3vw;
  text-decoration: none;
  border-radius: 10px;
  border: 3px;
  outline: solid;
  color: black;
}

.Navbar a:hover {
  background: lightblue;
}

.Hero {
  padding: 20vh 0 5vh;
  margin: 0vh 0;
}

.Contact {
  padding: 15vh 3vw;
}

.Contact a {
  font-size: 30px;
  text-decoration: none;
}

.Contact span {
  font-size: 30px;
}

.ProjectSection {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

a:visited {
  color: transparent;
}

a {
  color: black;
}

.Contact {
  padding: 20vh 0 5vh;
}

.ProjectSectionSvgIcons {
  margin: 0 5vw 5vh 1vw;
  transform: scale(1.8);
  float: 5px;
}
