/* body {
  font: 16px/1.5em "Overpass", "Open Sans", Helvetica, sans-serif;
  color: #333;
  font-weight: 300;
  background-color: rgba(6, 12, 42, 0.89);
} */

.Home {
  background: none;
  padding: 0 5vw;
}

.ProjectCollapse h1 {
  font-size: 2.5rem;
  margin: 1px 0;
}
.ProjectCollapse h2 {
  font-size: 2rem;
}

.ProjectCollapse li {
  margin: 5px 10px;
}

.pnf {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 45vh;
  padding-bottom: 55vh;
  width: 100%;
}

.pnf h1 {
  font-size: 12rem;
}

.pnf h2 {
  font-size: 3rem;
}

.Contact {
  padding: 15vh 3vw;
}

.Contact a {
  font-size: 30px;
  text-decoration: none;
}

.Contact span {
  font-size: 30px;
}

.ProjectSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/*
a:visited {
  color: transparent;
}
*/

.ProjectCollapse a {
  color: black;
}

.Contact {
  padding: 20vh 0 5vh;
}

.ProjectSectionSvgIcons {
  margin: 0 5vw 5vh 1vw;
  transform: scale(1.8);
  float: 5px;
}
